table{
    border-collapse: separate;
    border-spacing: 0 15px;
}

.circle{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: inline-block;
    line-height: 40px;
    text-align: center;
    font-weight: bold;
}
.button-project-group{
    border: aliceblue;
    margin-right: 5px;
}

.nameProject{
    width: 160px;
    border-radius: 10px;
    text-align: center;
}

span.block {
    display:block;
    text-align: center;
    border-radius: 16px;
    background-color: #ddd;
    font-size: small;
    position: relative;
    margin-top: -15px;
    left: auto;
    right: auto;
    margin-left: auto;
    margin-right: auto;
    width: 35px;
}

#container-projects-groups{
    float: left;
    height: 100%;
}

#resources-list{
    float:right;
    height: 100%;
    width:50%;
}
#available-resources{
    float:right;
    height: 100%;
    width:50%;

}

.delete-allocation{
    text-align: center;
    border-radius: 20%;
}