<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js" integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    </head>

    <body>
        <div th:replace="fragments :: menu"></div>
        <div class="my-4">
            <div class="row justify-content-md-center">
                <div class="col-sm-3 mr-5">
                    <h5>Resources Level </h5>
                    <canvas id="pieChartLevel"></canvas>
                </div>
                <div class="col-sm-4">
                    <h5>Unallocated Resources<span class="badge badge-secondary ml-3"  id="count-unallocated-resources">New</span></h5>
                    <table id="unallocated-resources" class="table my-4">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Surname</th>
                            <th>Initials</th>
                            <th>Level</th>
                            <th>Daily hours</th>
                        </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>

            </div>
            <div class="row justify-content-md-center my-5">
                <div class="col-sm-3 mr-5">
                    <h5>Backend Frontend</h5>
                    <canvas id="chartBackendFrontend"></canvas>
                </div>
                <div class="col-sm-4">
                    <h5>Technical Skill</h5>
                    <table id="technical-skill" class="table table-wrapper-scroll-y my-custom-scrollbar my-4">
                        <tbody></tbody>
                    </table>
                </div>
            </div>
            <div class="row justify-content-md-center my-5">
                <div class="col-sm-3 mr-5">
                    <h5>Project Groups</h5>
                    <canvas id="pieChartProjectGroups"></canvas>
                </div>
                <div class="col-sm-4">
                    <h5>Project</h5>
                    <table id="project-table" class="table table-wrapper-scroll-y my-custom-scrollbar my-4">
                        <thead>
                        <tr>
                            <th>Project</th>
                            <th>FTE required</th>
                            <th>FTE allocated</th>
                        </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>

            </div>
            <div class="row justify-content-md-center my-5">
                <div class="col-md-8">
                    <h5>Resources in internship<span class="badge badge-secondary ml-3"  id="count-resources-in-internship">New</span></h5>
                    <table id="resources-in-internship" class="table my-4">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Surname</th>
                            <th>Initials</th>
                            <th>Daily hours</th>
                            <th>Tutor</th>
                            <th> Start date</th>
                        </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </body>

    <script th:inline="javascript">
        const resources = [[${resources}]];
        const allocations = [[${allocations}]];
        const technicalSkills = [[${technicalSkills}]];
        const resourceSkills = [[${resourceSkill}]];
        const projects = [[${projects}]];
        const projectGroups = [[${projectGroups}]];
    </script>
    <script src="../static/js/Metrics.js" th:src="@{/js/Metrics.js}"></script>

</html>