<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>

<div th:replace="fragments :: menu"></div>

<body>
<h2>Resources Skills</h2>
<table class="table table-stripped">
    <thead>
    <tr>
        <th>ID Resource</th>
        <th>ID skill</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="resourceSkill: ${resourceSkills}">
        <td th:text="${resourceSkill.resourceSkillKey.idResource}" ></td>
        <td th:text="${resourceSkill.resourceSkillKey.idSkill}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>